@font-face {
    font-family: pac; src: url('../fonts/pac.ttf');
}

*{
    margin: 0;
    padding: 0;
}

.container{
    margin: auto;
    position: fixed;
    top: 15%;
    left: 25%;
    padding: 10%;
}

.container2{
    margin: auto;
    position: fixed;
    top: 15%;
    left: 25%;
    width: 50%;
}

.wrapper{
    width: 50%;
    padding: 5%;
    background-color: #e8f1f5;
    border-radius: 5px;
    -webkit-box-shadow: 3px 4px 6px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 6px -4px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 6px -4px rgba(0,0,0,0.75);
}

.header{
    width: 100%;
    position: absolute;
    top: 0;
    height: 100px;
    background-color: #3d3551;
    color: #faffff;
    font-size: 45px;
    line-height: 100px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: pac;
}

.foot{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #3d3551;
    height: 40px;
}
.foot span{
    color: #faffff;
    font-weight: lighter;
    text-align: center;
    display: block;
    line-height: 40px;
    font-size: 13px;
}

#select{
    width: 100%;
    font-size: 15px;
    height: 40px;
    text-align: right;
}

#select option{
    font-size: 16px;
    text-align: center;
    display: block;
}

#radio{
    height: 20px;
    width: 20px;
    margin-left: 15%;
}

#check{
    height: 20px;
    width: 60px;
    margin-left: 100%;
}


#message{
    width: 300px;
    height: 70px;
    text-align: left;
    margin: 1% 20% 0 20%;
    font-size: 20px;
}

textarea{
    resize: none;
    border: 1px solid #e1e1e1;
}

table {
    table-layout:fixed;
    border-collapse:collapse;
    margin: 0 auto 1em;
    width: 100%;
}
table th, table td {
    white-space:nowrap;
    padding:2px 20px 2px 5px;
    height: 50px;
    font-size: 15px;
    color: #506470;
}

table th {
    text-align:left;
    width: 30%;
    font-weight: 100;
}

table input {
    width:100%;
    height: 32px;
    margin-left: 20px;
    padding-left: 10%;
    border: 1px solid #e1e1e1;
}
td.input-group input {
    width:auto;
}

#button{
    width: 170px;
    height: 55px;
    margin: 5% 0 0 49%;
    padding: 0;
    background-color: #34aa55;
    border: none;
    color: #faffff;
}

#button:hover{
    width: 170px;
    height: 55px;
    margin: 5% 0 0 49%;
    padding: 0;
    background-color: #4a266a;
    border: none;
    color: #faffff;
}

#buttonView{
     width: 100px;
     height: 50px;
     line-height: 50px;
     background-color: #34aa55;
     display: block;
     text-decoration: none;
     text-align: center;
     color: #faffff;
 }

#buttonView:hover{
    width: 100px;
    height: 50px;
    line-height: 50px;
    background-color: #4a266a;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #faffff;
}




